<div class="callout callout-warning">
  <div class="callout-header">
    <div class="callout-icon-container">
      <i class="callout-icon"></i>
    </div>
    <div class="callout-title-container">
      Disclaimer
    </div>
  </div>

  <div class="callout-body">
    <p>
      This website is under continuous development.
      Content may be incomplete or subject to change.
    </p>
    <p>
      The PEH Data Platform User Guidance is provided for informational purposes only
      and does not constitute legal or regulatory advice.
    </p>
  </div>
</div>